.container {
    width: 1024px;
    margin: 0 auto;
}

.marginRight10 {
    margin-right: 10px;
}

.wrapper {
	margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
	padding: 20px;
    background-color: #f3f3f3;
}